/* src/app/[subject]/layout.module.css */

.layout {
    display: flex;
    min-height: calc(100vh - 64px);
}

.mainContent {
    flex: 1;
    min-width: 0;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .mainContent {
        padding: 1.5rem;
        padding-bottom: 6rem;
    }
}